{% extends 'base.html.twig' %}

{% block body %}
    <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
        <div class="carousel-indicators">
            {% if headers|length > 1 %}
                {% for key, header in headers %}
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="{{ key }}" 
                        {% if key == 0 %}class="active" aria-current="true"{% endif %} 
                        aria-label="{{ header.title }}"></button>
                {% endfor %}
            {% endif %}
        </div>
        <div class="carousel-inner">
            {% for key, header in headers %}
                <div class="carousel-item {% if key == 0 %}active{% endif %}">
                    <img src="/uploads/{{ header.illustration }}" class="bd-placeholder-img" width="100%" height="100%" 
                        aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <div class="container">
                        <div class="carousel-caption text-start" style="color: black;">
                            <h1>{{ header.title }}</h1>
                            <p class="opacity-75">{{ header.content }}</p>
                            <p><a class="btn btn-lg btn-dark" href="{{ header.buttonLink }}">{{ header.buttonTitle }}</a></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if headers|length > 1 %}
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        {% endif %}
    </div>

    <div class="container marketing">
        <div class="row">
            {% for product in productsInHomepage %}
                <div class="col-lg-4">
                    <img src="/uploads/{{ product.illustration }}" class="img-fluid">
                    <h2 class="fw-normal mt-2">{{ product.name }}</h2>
                    <div style="font-size: 14px;">{{ product.description|raw }}</div>
                    <p><a class="btn btn-secondary mt-2" href="{{ path('app_product', { slug: product.slug }) }}">Découvrir</a></p>
                </div>
            {% endfor %}
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Découvrez notre nouvelle gamme. <span class="text-body-secondary">Un style éblouissant !</span></h2>
                <p class="lead">Un style éblouissant, conçu pour vous accompagner dans chaque moment de votre journée, avec une touche de sophistication unique.</p>
            </div>
            <div class="col-md-5">
                <img src="/uploads/subheader1.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="subheader image">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Découvrez l'élégance à l'état pur. <span class="text-body-secondary">Un parfum inoubliable.</span></h2>
                <p class="lead">Plongez dans un univers olfactif unique, conçu pour sublimer votre quotidien. Ce parfum saura captiver vos sens et ceux qui vous entourent.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="/uploads/subheader2.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="subheader image">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Et enfin, <span class="text-body-secondary">l'élégance ultime.</span></h2>
                <p class="lead">Découvrez le summum du raffinement avec cette bague intemporelle. Laissez-vous séduire par la simplicité qui allie luxe et sophistication, parfaite pour marquer vos moments les plus précieux.</p>
            </div>
            <div class="col-md-5">
                <img src="/uploads/subheader3.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="subheader image">
            </div>
        </div>

        <hr class="featurette-divider">
    </div><!-- /.container -->
    
{% endblock %}
